<div class="container-fluid content">
	<div class="row-fluid">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<strong>Env&#237;anos un mensaje</strong>
				</div>
				<div class="panel-body">
					<form role="form" novalidate name="contactForm" ng-submit="sendEmail(newEmail)" ng-class="showValidation ? 'validate' : ''">
						<div class="form-group">
							<input type="text" class="form-control" id="namefield" name="contactName" placeholder="Nombre" ng-model="newEmail.contactName" required>
							<div class="error" ng-show="showValidation">
								{{getError(contactForm.contactName.$error)}}
							</div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="emailfield" name="contactEmail" placeholder="Correo" ng-model="newEmail.contactEmail" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required>
							<div class="error" ng-show="showValidation">
								{{getError(contactForm.contactEmail.$error)}}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="numberfield" name="contactNumber" placeholder="N&#250;mero de contacto" ng-pattern="/^\d+$/" ng-model="newEmail.contactNumber" required>
							<div class="error" ng-show="showValidation">
								{{getError(contactForm.contactNumber.$error)}}
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="subjectfield" name="contactSubject" placeholder="Asunto" ng-model="newEmail.contactSubject" required>
							<div class="error" ng-show="showValidation">
								{{getError(contactForm.contactSubject.$error)}}
							</div>
						</div>
						<div class="form-group">
							<textarea class="form-control" id="descfield" name="contactDesc" rows="6" placeholder="Tu mensaje" ng-maxlength="250" ng-model="newEmail.contactDesc" required></textarea>
							<div class="error"	ng-show="showValidation">
								{{getError(contactForm.contactDesc.$error)}}
							</div>
						</div>
						
		    				<button type="submit" class="btn btn-primary submit-button-text btn-block" ng-disabled="submitProgress">Enviar Mensaje</button>
		  				
					</form>
				</div>
				<div ng-class="successfull ? ' panel-footeralert alert-success alert-dismissable' : 'panel-footer alert alert-warning alert-dismissable'" ng-show="showMessage">
						<div class="text-justify" ng-show="successfull"><strong>Gracias por contactarnos,</strong> en breve nos comunicaremos con usted.</div>
						<div class="text-justify" ng-hide="successfull">Lo sentimos mucho, en estos momentos no podemos atenderlo, por favor vuelva a intentarlo m&#225;s tarde.</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="phoneContainer">
				<img src="components/app-data/img/business/phone.png"/>
				<div id="carouselContainer" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-01.png"/>
						</div>
						<div class="item">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-02.png"/>
						</div>
						<div class="item">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-03.png"/>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-9">
				<dl class="list-unstyled well text-center">
					<dt class="">Tattler Mobile S.A.</dt>
				</dl>
				<dl class="list-unstyled well well-md text-center">
					<dt>P&#225;gina en Construcci&#243;n</dt>
					<dd class="text-justify">Estamos trabajando fuertemente para brindarte el mejor servicio.</dd>
				</dl>				
				<dl class="liborder list-unstyled well well-md">
					<dt class="text-center">¿Tienes dudas?</dt>
					<dd class="text-justify">No lo pienses mas y comun&#237;cate con nosotros en este instante, nuestro equipo de trabajo esta dispuesto a resolver tus dudas.</dd>
				</dl>
			</div>	
		</div>

	</div>
</div>