.hborder {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.ulborder {	
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.contactnumber {
	font-size: 24px;
	font-weight: bold;
	color: #1192d3;
}
form.validate .ng-invalid-required.ng-dirty{
	background-color: lightpink;
}
form.validate .ng-invalid-email.ng-dirty{
	background-color: lightgoldenrodyellow;
}
div.error{
	color: red;
	font-weight: bold;
}
form input,textarea{
	font-weight: bold;
}
#phoneContainer{
	width: 207px;
	height: 410px;	
	margin: auto;
	margin-bottom: 25px;	
}

#phoneContainer > img{
	position: absolute;
	z-index: 1000;
}

#carouselContainer{	
	margin: auto;
	padding-top: 62px;
}

#carouselContainer img{
	width: 182px;
	height: 307px;
}