#titleDisplayBackground
{
	background-image: url("../components/app-data/img/home/clouds-xs.png");
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	min-height: 600px;
}

#titleDisplay{	
	text-align: center;	
}

#titleDisplay h1{
	color: #FFF;
	font-family: 'helvetica', sans-serif;
	font-weight: bolder;
	font-size: 40px;
	display: inline-block;
}

#titleDisplay h4{
	color: #FFF;
	font-size: 20px;	
}

.delay-seconds-1{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.delay-seconds-2{
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

.delay-seconds-3{
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.row-padding{
	padding: 50px 0;
}

div[middle-row]{	
	background: #EBEBEB;
}

#last{	
	background: #F2F2F2;
}

#middle p, #last > div > p{
	font-size: 14px;
}

#last > div > p{
	margin-bottom: 60px;
}

#last .row{
	font-size: 12px;
}

#last img{
	margin-bottom: 10px;
}

.container-fluid-fullwidth{
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px){
	#titleDisplayBackground{
		background-image: url("../components/app-data/img/home/buildings-sm.png"), url("../components/app-data/img/home/clouds-sm.png");
	}
}

@media (min-width: 992px){
	#titleDisplayBackground{
		background-image: url("../components/app-data/img/home/buildings-md.png"), url("../components/app-data/img/home/clouds-md.png");
	}	
}

@media (min-width: 1200px){
	#titleDisplayBackground{
		background-image: url("../components/app-data/img/home/buildings-lg.png"), url("../components/app-data/img/home/clouds-lg.png");
	}
}

@media (min-width: 992px), @media (min-width: 1200px){
	#last div.col-md-2{
		width: 12.5%;
	}
}

@media (min-width: 768px), @media (min-width: 992px), @media (min-width: 1200px){
	#titleDisplayBackground{
		background-position:center bottom, center center;

		-webkit-background-size: auto 50%, cover;
		-moz-background-size: auto 50%, cover;
		-o-background-size: auto 50%, cover;
		background-size: auto 50%, cover;
	}
	
	#titleDisplay h1{
		color: #FFF;
		font-family: 'helvetica', sans-serif;
		font-weight: bolder;
		font-size: 60px;
		display: inline-block;
		margin-top: 60px;
	}
} 

@media (max-height: 480px){
	#titleDisplayBackground{
		min-height: 500px;
	}
}