<div class="container-fluid container-fluid-fullwidth" tattler-home>	
	<div id="titleDisplayBackground" class="row" display-row>
		<div id="titleDisplay" class="col-md-12"> 
			<h1 class="animated flipInY delay-seconds-1">Tattler<sub>&reg;</sub></h1>
			<h4 class="animated fadeInLeftBig delay-seconds-2">Comun&iacute;cate sin l&iacute;mites</h4>
			<img src="components/app-data/img/home/phone-xs.png" class="animated fadeInUpBig delay-seconds-3 img-responsive img-responsive-center" />
		</div>
	</div>
	<div class="row row-padding text-center" middle-row>
		<div class="col-md-4">
			<div class="row">						
				<div class="col-md-12">
					<h3>Comun&iacute;cate GRATIS con tus contactos y amigos.</h3>
					<p>				
						Llama gratis o por mensajer&iacute;a instant&aacute;nea a cualquier lugar del mundo con tus amigos, conocidos o empresas que cuenten con la aplicaci&oacute;n Tattler&reg;.
					</p>
				</div>
			</div>
			<img src="components/app-data/img/home/proposal-01.png" class="img-responsive img-responsive-center"/>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h3>Env&iacute;a tus fotos y archivos.</h3>
					<p>				
						Desde el servicio de chat que te ofrecemos puedes enviar documentos o im&aacute;genes sin ning&uacute;n costo para ti.			
					</p>
				</div>
			</div>
			<img src="components/app-data/img/home/proposal-02.png" class="img-responsive img-responsive-center"/>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h3>Visualiza las mejores empresas, comun&iacute;cate gratis y recibe beneficios.</h3>
					<p>				
						Contar&aacute;s con un directorio de las mejores empresas, selecciona tu ubicaci&oacute;n y visualiza la empresa de tu preferencia, comun&iacute;cate gratis, realiza pedidos, cotizaciones o reservaciones y obt&eacute;n beneficios.					
					</p>
				</div>
			</div>
			<img src="components/app-data/img/home/proposal-03.png" class="img-responsive img-responsive-center"/>
		</div>
	</div>
	<div class="row row-padding text-center" id="last">
		<div class="col-md-12">
			<h3>Calidad en nuestro servicio de llamadas y mensajer&iacute;a instant&aacute;nea.</h3>
			<p>				
				Comun&iacute;cate usando Wi-Fi o tu plan de datos m&oacute;viles. Prueba la excelente calidad de nuestros servicios.					
			</p>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/company-icon.png" class="img-responsive img-responsive-center"/>
					<p>Visualiza las mejores empresas y ent&eacute;rate lo que tienen para ti.</p>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/calling-icon.png" class="img-responsive img-responsive-center"/>
					<p>Comun&iacute;cate gratis y sin l&iacute;mites entre usuarios de Tattler&reg;.</p>
				</div>		

				<div class="clearfix visible-xs-block"></div>

				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/phone-icon.png" class="img-responsive img-responsive-center"/>
					<p>Comun&iacute;cate gratis a n&uacute;meros fijos de las empresas, no gastes m&aacute;s en llamadas para realizar pedidos, reservaciones o cotizaciones.</p>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/location-icon.png" class="img-responsive img-responsive-center"/>
					<p>Env&iacute;a tu ubicaci&oacute;n a tus contactos y amigos; incluso a las empresas cuando pidas un servicio a domicilio.</p>
				</div>

				<div class="clearfix visible-sm-block visible-xs-block"></div>

				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/chat-icon.png" class="img-responsive img-responsive-center"/>
					<p>Mensajer&iacute;a gratis entre usuarios y empresas de Tattler&reg;.</p>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/discount-icon.png" class="img-responsive img-responsive-center"/>
					<p>Visualiza las mejores promociones, la publicidad nunca ser&aacute; invasiva. &#161;Todo esta donde tiene que estar&#33;</p>
				</div>

				<div class="clearfix visible-xs-block"></div>

				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/file-icon.png" class="img-responsive img-responsive-center"/>
					<p>Env&iacute;a archivos a tus contactos.</p>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<img src="components/app-data/img/home/camera-icon.png" class="img-responsive img-responsive-center"/>
					<p>Toma una foto y env&iacutealas a tus amigos. &#191;Necesitas hacer una reservaci&oacute;n&#63; Env&iacute;a tu foto y formaliza tus solicitudes.</p>
				</div>	
			</div>			
		</div>
	</div>
</div>