<div class="container content">
	<div class="row">
		<div class="col-md-12">
			<p>Actualmente estamos trabajando para brindarte el mejor servicio y la mejor experiencia de comunicaci&oacute;n que te mereces.</p>
			<p>Llena el siguiente formulario y te avisaremos cuando Tattler&reg; est&eacute; disponible.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Informaci&oacute;n</h4>
				</div>
				<div class="panel-body">
					<form role="form" name="downloadForm" ng-submit="save()">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Nombre Completo" name="fullName" ng-model="request.fullName" required />
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="e-mail" name="email" ng-model="request.email" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required />
						</div>
						<div class="form-group">
							<select class="form-control">
								<option value="" default selected disabled>Pa&iacute;s</option>
							</select>
						</div>
						<button class="btn btn-primary submit-button-text" type="submit" ng-disabled="downloadForm.$invalid">Notificarme</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				Pr&oacute;ximamente				
	  			<img alt="Get it on Google Play" src="components/app-data/img/download/es-419_generic_rgb_wo_45.png" />	  			
	  		</p>
		</div>
	</div>	
</div>