html {
	position: relative;
	min-height: 100%;
}

body{
	font-family: 'museo_slab500', 'helvetica';
	font-size: 16px;	
	margin-bottom: 80px;
}

.tattler-background{
	background: #009FE3; 
}

#menu {
    border: none;
    box-shadow: none; 
	opacity: none;
	filter: Alpha(opacity=100);
}

#menu .navbar-nav > li > a, #menu.opaque .navbar-nav > li > a {	
	color: #B3E1F8;	
	font-weight: bold;
	text-transform: capitalize;
}

#menu .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

#menu .navbar-nav > .active > a, #menu .navbar-nav > .active > a:hover, #menu.navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background: none;	
	text-decoration: none;
		
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#menu.opaque {
	background: #FFF;
	box-shadow: 0 5px 5px #888888; 
	opacity: 0.9; 
	filter: Alpha(opacity=90);
}

#menu.opaque .navbar-nav > li > a {	
	color: #000000;
}

#menu.opaque .navbar-nav > li > a:hover {
	color: #000000;
}

#menu.opaque .navbar-nav > .active > a, #menu.opaque .navbar-nav > .active > a:hover, #menu.navbar-nav > .active > a:focus {
	color: #000000;	
	background: none;
	text-decoration: underline;	
		
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#viewContainer{
	margin-top: 49px;
}

#footer{
	background: #222;
	font-size: 13px;
	color: #aaa;
	padding: 30px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
}

form input.ng-dirty.ng-invalid{
	border-color: #D9534F;
}

form input.ng-dirty.ng-valid{
	border-color: #5CB85C;
}

.submit-button-text{
	font-weight: bold;
	float:right;
	text-shadow: 0 1px #000;	
}

.content{
	margin-top: 50px;
}

.img-responsive{
	width: auto\9;
}

.img-responsive-center{
	margin: 0 auto;
}