#formContainer .panel{
	box-shadow: 10px 10px 10px #888888;
}

form .form-group{
	margin-bottom: 7px;
}

form .form-control{
	font-size: 13px;
}

#phoneContainer{
	width: 207px;
	height: 410px;	
	margin: auto;
	margin-bottom: 25px;	
}

#phoneContainer > img{
	position: absolute;
	z-index: 1000;
}

#carouselContainer{	
	margin: auto;
	padding-top: 62px;
}

#carouselContainer img{
	width: 182px;
	height: 307px;
}