<div class="container content">
	<div class="row">
		<div class="col-md-7">
			<h3>Reg&iacute;strate y haz m&aacute;s visible a tu empresa.</h3>
			<div id="phoneContainer">
				<img src="components/app-data/img/business/phone.png"/>
				<div id="carouselContainer" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-01.png"/>
						</div>
						<div class="item">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-02.png"/>
						</div>
						<div class="item">
							<img class="img-responsive img-responsive-center" src="components/app-data/img/business/proposal-03.png"/>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<div id="formContainer" class="col-md-4 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Registro Empresarial</h4>
				</div>
				<div class="panel-body">
					<form ng-submit="save()" role="form" name="registerForm">
						<div class="form-group">
							<label class="sr-only">Nombre</label>
							<input class="form-control input-sm" type="text" placeholder="Nombre" name="name" ng-model="request.name" required />
						</div>
						<div class="form-group">
							<label class="sr-only">Apellido</label>
							<input class="form-control input-sm" type="text" placeholder="Apellido" name="lastName" ng-model="request.lastName" required /> 	
						</div>	
						<div class="form-group">
							<label class="sr-only">Empresa</label>
							<input class="form-control input-sm" type="text" placeholder="Empresa" name="company" ng-model="request.company" required />							
						</div>
						<div class="form-group">
							<label class="sr-only">R.F.C.</label>
							<input class="form-control input-sm" type="text" placeholder="R.F.C." name="rfc" ng-model="request.rfc" required />
						</div>
						<div class="form-group">
							<label class="sr-only">e-mail</label>
							<input class="form-control input-sm" type="email" placeholder="e-mail" name="email" ng-model="request.email" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required />
						</div>
						<div class="form-group">
							<label class="sr-only">M&oacute;vil</label>
							<input class="form-control input-sm" type="tel" placeholder="M&oacute;vil" name="phoneNumber" ng-model="request.phoneNumber" ng-pattern="/^\d+$/" required />
						</div>
						<div class="form-group">
							<label class="sr-only">Estado</label>
							<select class="form-control input-sm">
								<option value="" default disabled selected>Estado</option>					
							</select>
						</div>
						<div class="form-group">
							<label class="sr-only">Ciudad</label>
							<select class="form-control input-sm">
								<option value="" default disabled selected>Ciudad</option>
							</select>
						</div>
						<button class="btn btn-primary submit-button-text" ng-disabled="registerForm.$invalid" type="submit">Registrarme</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>